<!--about-->
<section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h">About Us</h1>
          <p class="header-p" style="font-family: 'Marck Script', cursive; font-size:16pt">RoyalWrist is a leading retailer of branded and designer watches.All watch brands listed on our website is available.</p>
        </div>
        <div class="col-md-3">
          <img src="../../assets/BQ.png" height="100px" height="100px" style="font-size: 14pt;"><br>Best Quality
          </div>
          <div class="col-md-3">
          <img src="../../assets/SAS.jpg" height="100px" height="100px" style="font-size: 14pt;"><br>Safe And Secure
        </div>
        <div class="col-md-3">
          <img src="../../assets/RAR.jpg" height="100px" height="100px" style="font-size: 14pt;"><br>Return And Refund
        </div>
        <div class="col-md-3">
          <img src="../../assets/COD.png" height="100px" height="100px" style="font-size: 14pt;"><br>Cash On Delivery
        </div>
        
    </div>
    </div>
  </section>
  <!--/about-->
