<section id="men-watch" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h">Men's Watch</h1>
          <p class="header-p" style="font-family: 'Marck Script', cursive; font-size:16pt"> 
          </p>
        </div>

        <div class="col-md-12  text-center" id="menu-flters">
          <ul style="font-family: 'Marck Script', cursive; font-size:19px">
            <li><a class="filter active" data-filter=".menu-restaurant">Show All</a></li>
            <li><a class="filter" data-filter=".analog">Analog</a></li>
            <li><a class="filter" data-filter=".digital">Digital</a></li>
            <li><a class="filter" data-filter=".smart">Smart</a></li>
          </ul>
        </div>

        <div id="menu-wrapper">
        <div class="row">
          <div class="col-md-4 col-sm-6">
          <div class="analog menu-restaurant">
              
              <span class="clearfix">
                  <span class="menu-subtitle">Fogg Analog Men's Watch 2047-WH</span>
          
              </span>
             <!-- <span class="price">Rs.2495</span>-->
              <div class="hovereffect">
                <img class="img-responsive" src="../../assets/M1.jpg" height="70px" width="50px">
                    <div class="overlay">
                        
                        <p class="icon-links">
                            <a>Rs.2495</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                           
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="analog menu-restaurant">
            <span class="clearfix">
                <span class="menu-subtitle">Timex Analog watch-TW00ZR262E</span>
              
              
            </span>
          
            <div class="hovereffect">
              <img class="img-responsive" src="../../assets/M2.jpg">
                 
                  <div class="overlay">
                    
                      
                    
                      <p class="icon-links">
                          <a>Rs.1500</a>
                          <a href="#">
                              <span class="glyphicon glyphicon-shopping-cart"></span>
                          </a>
                         
                          <a href="#">
                              <span class="fa fa-info"></span>
                          </a>
                      </p>
                  </div>
          </div>
          
           
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="analog menu-restaurant">
            <span class="clearfix"> 
                <span class="menu-subtitle">Titan Neo Analog Black-1729SL02</span>
            </span>
        
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/M3.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                           <a>Rs.1835</a> 
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                            
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
        </div>
      </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
          <div class="analog menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">Sonata Analog Dial-NK7987YM05W</span> 
              
            </span>
           
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/M4.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                            <a>Rs.835</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                            <a href="#">
                                <span class="glyphicon glyphicon-heart"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="analog menu-restaurant">
              <span class="clearfix">
                  <span class="menu-subtitle">CURREN Men Teen Casual Leather</span>
                
              </span>
              
              <div class="hovereffect">
                  <img class="img-responsive" src="../../assets/M5.jpg">
                     
                      <div class="overlay">
                        
                          
                        
                          <p class="icon-links">
                              <a>Rs.2999</a>
                              <a href="#">
                                  <span class="glyphicon glyphicon-shopping-cart"></span>
                              </a>
                             
                              <a href="#">
                                  <span class="fa fa-info"></span>
                              </a>
                          </p>
                      </div>
              </div>
              
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="analog menu-restaurant">
                <span class="clearfix">
                 
                    <span class="menu-subtitle">Sonata Analog men-NJ7987SM04W</span>
                  
                </span>
                
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/MA6.jpg">
                       
                        <div class="overlay">
                          
                            
                          
                            <p class="icon-links">
                                <a>Rs.600</a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                               
                                <a href="#">
                                    <span class="fa fa-info"></span>
                                </a>
                            </p>
                        </div>
                </div>
                
              </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="digital menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">Skmei Analogue Dual Quartz</span>
              
            </span>
            
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/M6.jpg" >
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                            <a>Rs.1199</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                            
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="digital menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">SKMEI Dial Men's Watch </span> 
              
            </span>
            
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/M7.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                            <a>Rs.999</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                        
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
          </div>
        
        
            <div class="col-md-4 col-sm-6">
          <div class="digital menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">Skmei Analog-Digital Black</span>
              
            </span>
           
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/M8.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                           <a>Rs.1999</a> 
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                           
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="row">
            <div class="col-md-4 col-sm-6">
          <div class="smart menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">Plateforce A1 Smart watch</span>  
             
            </span>
           
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/M9.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                            <a>Rs.5499</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                            
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
            </div>
          
          
            <div class="col-md-4 col-sm-6">
          <div class="smart menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">Avika v9<br>(Silver)</span>  
            </span>
           
            
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/M10.jpg">
                    <div class="overlay">
                        
                        <p class="icon-links">
                          <a>Rs.2499</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                            
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
          
          </div>
            </div>
            <div class="col-md-4 col-sm-6">
          <div class="smart menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">Kd Enterpriser Smart Band</span>
            </span>
           
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/M11.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                            <a>Rs.999</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                           
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
          </div>
        </div>
      </div>
      </div>
    </div><hr Style="margin-left:80px; margin-right:80px;border-color:rgb(74, 184, 142)">
    <div id="workh"></div>
  </section>