<br><br><br><br>
<div class="row">
    <div class="col-md-12 text-center" style="color: white;"><h1>CART</h1></div>
</div>
<br><br>
<div class="container mb-4" style="background-color: white;">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="background-color:gray;">
                            <th scope="col"> </th>
                            <th scope="col" style="color: white;">PRODUCT</th>
                            <th scope="col" style="color: white;">AVAILABILITY</th>
                            <th scope="col" class="text-center" style="color: white;">QUANTITY</th>
                            <th scope="col" class="text-right" style="color: white;">PRICE</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../assets/M3.jpg/" width="100px" height="100px"> </td>
                            <td>Titan Neo Analog Black-1729SL02</td>
                            <td>In stock</td>
                            <td><input class="form-control" type="text" value="1" /></td>
                            <td class="text-right"> RS 1,835</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        <tr>
                            <td><img src="../../assets/M1.jpg" width="100px" height="100px" /> </td>
                            <td>Fogg Analog Men's Watch 2047-WH</td>
                            <td>In stock</td>
                            <td><input class="form-control" type="text" value="1" /></td>
                            <td class="text-right">RS 2,495</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        <tr>
                            <td><img src="../../assets/M2.jpg" width="100px" height="100px"> </td>
                            <td>Timex Analog watch-TW00ZR262E</td>
                            <td>In stock</td>
                            <td><input class="form-control" type="text" value="1" /></td>
                            <td class="text-right">RS 1,500</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">RS 5,830</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right">RS 100</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>RS 5,930</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <!-- <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light" style="margin:10px;">Continue Shopping</button>
                </div> -->
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-danger text-uppercase" style="margin-right: 10px;">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase" style="margin-right: 10px;">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>