<section id="sale" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h">Sale</h1>
          <p class="header-p" style="font-family: 'Marck Script', cursive; font-size:16pt"> 
          </p>
        </div>

       <div class="col-md-12  text-center" id="menu-flters">
          <ul style="font-family: 'Marck Script', cursive; font-size:19px">
            <li><a class="filter active" data-filter=".menu-restaurant">Show All</a></li>
            <li><a class="filter" data-filter=".men">Men</a></li>
            <li><a class="filter" data-filter=".women">Women</a></li>
            <li><a class="filter" data-filter=".unisex">Both</a></li>
          </ul>
        </div>

        <div id="menu-wrapper">
        <div class="row">
          <div class="col-md-4 col-sm-6">
          <div class="men menu-restaurant">
              
              <span class="clearfix">
                  <span class="menu-subtitle">WT-3012</span>
          
              </span>
             
              <div class="hovereffect">
                <img class="img-responsive" src="../../assets/S1.jpg" height="70px" width="50px">
                    <div class="overlay">
                        
                        <p class="icon-links">
                            <a>Rs.999</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                           
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="men menu-restaurant">
            <span class="clearfix">
                <span class="menu-subtitle">TC-9035</span>
              
              
            </span>
          
            <div class="hovereffect">
              <img class="img-responsive" src="../../assets/S2.jpg">
                 
                  <div class="overlay">
                    
                      
                    
                      <p class="icon-links">
                          <a>Rs.599</a>
                          <a href="#">
                              <span class="glyphicon glyphicon-shopping-cart"></span>
                          </a>
                         
                          <a href="#">
                              <span class="fa fa-info"></span>
                          </a>
                      </p>
                  </div>
          </div>
          
           
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="men menu-restaurant">
            <span class="clearfix"> 
                <span class="menu-subtitle">TY-W345</span>
            </span>
        
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/S4.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                           <a>Rs.395</a> 
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                            
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
        </div>
      </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
          <div class="men menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">ADE-089</span> 
              
            </span>
           
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/S5.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                            <a>Rs.1499</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                            <a href="#">
                                <span class="glyphicon glyphicon-heart"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="men menu-restaurant">
              <span class="clearfix">
                  <span class="menu-subtitle">FAP-907</span>
                
              </span>
              
              <div class="hovereffect">
                  <img class="img-responsive" src="../../assets/S6.jpg">
                     
                      <div class="overlay">
                        
                          
                        
                          <p class="icon-links">
                              <a>Rs.899</a>
                              <a href="#">
                                  <span class="glyphicon glyphicon-shopping-cart"></span>
                              </a>
                             
                              <a href="#">
                                  <span class="fa fa-info"></span>
                              </a>
                          </p>
                      </div>
              </div>
              
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="men menu-restaurant">
                <span class="clearfix">
                 
                    <span class="menu-subtitle">AABD-9076</span>
                  
                </span>
                
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/S7.jpg">
                       
                        <div class="overlay">
                          
                            
                          
                            <p class="icon-links">
                                <a>Rs.499</a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                               
                                <a href="#">
                                    <span class="fa fa-info"></span>
                                </a>
                            </p>
                        </div>
                </div>
                
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
        <div class="men menu-restaurant">
          <span class="clearfix">
            
              <span class="menu-subtitle">AEWM-685</span> 
            
          </span>
         
          <div class="hovereffect">
              <img class="img-responsive" src="../../assets/S13.jpg">
                 
                  <div class="overlay">
                    
                      
                    
                      <p class="icon-links">
                          <a>Rs.1299</a>
                          <a href="#">
                              <span class="glyphicon glyphicon-shopping-cart"></span>
                          </a>
                          <a href="#">
                              <span class="glyphicon glyphicon-heart"></span>
                          </a>
                          <a href="#">
                              <span class="fa fa-info"></span>
                          </a>
                      </p>
                  </div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="men menu-restaurant">
            <span class="clearfix">
                <span class="menu-subtitle">FADW-8601</span>
              
            </span>
            
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/S22.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                            <a>Rs.1099</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                           
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="men menu-restaurant">
              <span class="clearfix">
               
                  <span class="menu-subtitle">AABD-7634</span>
                
              </span>
              
              <div class="hovereffect">
                  <img class="img-responsive" src="../../assets/S18.jpg">
                     
                      <div class="overlay">
                        
                          
                        
                          <p class="icon-links">
                              <a>Rs.1200</a>
                              <a href="#">
                                  <span class="glyphicon glyphicon-shopping-cart"></span>
                              </a>
                             
                              <a href="#">
                                  <span class="fa fa-info"></span>
                              </a>
                          </p>
                      </div>
              </div>
              
            </div>
          </div>
      </div>
        
        <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="women menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">HWSM-9643</span>
              
            </span>
            
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/S3.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                            <a>Rs.2599</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                            
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="women menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">SFY4P</span> 
              
            </span>
            
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/S8.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                            <a>Rs.1899</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                        
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
          </div>
        
        
            <div class="col-md-4 col-sm-6">
          <div class="women menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">ADR-087 </span>
              
            </span>
           
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/S11.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                           <a>Rs.4899</a> 
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                           
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="women menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">HHWSM-07</span>
              
            </span>
            
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/S17.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                            <a>Rs.899</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                            
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="women menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">HYG34</span> 
              
            </span>
            
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/S23.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                            <a>Rs.1400</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                        
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
          </div>
        
        
            <div class="col-md-4 col-sm-6">
          <div class="women menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">CBADG-98 </span>
              
            </span>
           
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/S21.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                           <a>Rs.699</a> 
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                           
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="row">
            <div class="col-md-4 col-sm-6">
          <div class="unisex menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">FVHY-896 </span>  
             
            </span>
           
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/S9.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                            <a>Rs.1799</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                            
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
            </div>
          
          
            <div class="col-md-4 col-sm-6">
          <div class="unisex menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">MHA1</span>  
            </span>
           
            
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/S15.jpg">
                    <div class="overlay">
                        
                        <p class="icon-links">
                          <a>Rs.1199</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                            
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
          
          </div>
            </div>
            <div class="col-md-4 col-sm-6">
          <div class="unisex menu-restaurant">
            <span class="clearfix">
              
                <span class="menu-subtitle">KED-764</span>
            </span>
           
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/S24.jpg">
                   
                    <div class="overlay">
                      
                        
                      
                        <p class="icon-links">
                            <a>Rs.999</a>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                           
                            <a href="#">
                                <span class="fa fa-info"></span>
                            </a>
                        </p>
                    </div>
            </div>
            
          </div>
          </div>
        </div>
      </div>
      </div>
    </div><hr Style="margin-left:80px; margin-right:80px;border-color:rgb(74, 184, 142)">
    <div id="workh"></div>
  </section>
